.order-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #47B39C;
    border-radius: 10px 0 10px 0;
    padding: 15px 20px;
    font-size: 24px;
    color: #fff;
}
