.swiper{
    &-wrapper {
        padding-bottom: 44px !important;
    }
    &-scrollbar {
        opacity: 1 !important;
        &-drag {
            background-color: #000 !important;
        }
    }
}

.swiper-container-horizontal > .swiper-scrollbar {
    width: 64.7% !important;
    left: 50% !important;
    transform: translateX(-50%);
    height: 4px !important;
}
